/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background: radial-gradient(turquoise,rgb(30, 107, 99)); */
}
/* ESTILOS PARA EL HEADER */
header {
    background-image: url("img/portada2.jpg");
    background-size: cover;
    position: relative;
    color: #fff;
    display: flex;
    height: 400px;
}

.portada {
    width: 73%;
    display: block;
}

.container-logo{
    width: 15%;
    margin-left: 85%;
}

.logo{
    width: 300px;
    /* margin: 0 auto; */
    filter: drop-shadow(#e81cff -2px -2px 3px);
    height: 100%;
}
.header-content {
    position: absolute;
    top: 20px;
    left: 20px;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
/* ESTILOS PARA EL MAIN */
main {
    position: relative;
    margin: 0;
    padding-top: 1em;
}

main::before {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at top, turquoise, rgb(30, 107, 99));
    z-index: -3; /* Coloca este fondo detrás de todo el contenido del main */
}
.titulo-producto{
    margin: 0;
    color: #fff3ff;
    /* background-color: #fc00ff; */
    background: linear-gradient(rgb(59 104 255),rgb(194 37 255));
    border: solid black 1px;
    box-shadow: #000 2px 2px  4px;
    width: 25vmin;
    text-align: center;
    margin-left: 1vmin;
}
#productos .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    height: 254px;
}
.product-item img {
    margin: auto;
    max-width: 100%;
    max-height: 80%;
}

.product-item h3{
    color: aliceblue;
    margin: 0;
}

#contacto, #sociales {
    padding: 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.icono-contacto img{
    width: 4%;
    background-color: white;
    border: black solid 1px;
    padding: 3px;
    border-radius: 7px;
}
a{
    text-decoration: none;
}
.contacto a{
    text-decoration: none;
}
hr{
    width: 100%;
}

.card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 224px;
    height: 289px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #2fa3d1 100% );
    z-index: -2;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.card p:not(.heading) {
    font-size: 14px;
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card:hover::after {
    filter: blur(30px);
}

.card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

/* Estilo para la imagen ampliada */
.modal-content {
    margin: auto;
    display: flex;
    width: 40%;
    position: absolute;
    top: 25%;
    max-width: 700px;
    animation: zoomIn 0.6s;
    align-items: center;
    justify-content: center;
}

/* Animación de zoom */
@keyframes zoomIn {
    from {transform: scale(0.4)}
    to {transform: scale(1)}
}

/* Botón de cerrar */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 480px) {
    .card {
        width: 150px;
        height: 200px;
        padding: 8px;
        gap: 8px;
        margin: 5px 0;
    }

    .card::before {
        width: 175px;
        height: 225px;
        left: -5px;
    }

    .card::after {
        transform: translate3d(0, 0, 0) scale(0.9);
        filter: blur(15px);
    }

    .heading {
        font-size: 16px;
    }

    .card p:not(.heading) {
        font-size: 12px;
    }

    .card p:last-child {
        font-size: 12px;
    }
}